nav {
    width: 100%;
    box-shadow: var(--lg-shadow);
    display: flex;
    color: var(--ui-color);
    background-color: white;
    align-items: center;
    justify-content: end;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    font-family: var(--ui-font);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1rem;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
nav #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    position: absolute;
    top: 0;
    padding-top: 13px;
    padding-bottom: 13px;
}

nav li.fa-solid {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 13px;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

nav li a:hover {
    background-color: #2222225e;
}

nav #discord_login {
    background-color: #7289da;
    border-radius: 5px;
    width: 70px;
    padding: 10px 5px;
    color: white;
    text-decoration: none;
    margin: 2px;
    z-index: 2000;
}

nav #logo {
    position:absolute;
    top: 0;
    left: 0;
    width: 90px;
}

nav .show {
    display: flex;
}

nav #nav-profile-picture {
    z-index: 2000;
}

nav #nav-profile-picture img {
    background-color: aliceblue;
    border: 3px solid rgb(31, 31, 31);
    box-shadow: var(--md-shadow);
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
    width: 30px;
}

@media screen and (min-width: 768px) {
    nav li.fa-solid {
        display: none;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
        position: static;
        width: 100%;
        background-color: transparent;
        display: flex;
    }

    nav #menu {
        position: static;
    }

    nav #menu::before {
        content: '';
    }

    nav #discord_login {
        margin: 10px;
        width: fit-content;
        white-space: nowrap;
        z-index: auto;
        padding: 10px 20px;
    }

    nav #nav-profile-picture {
        z-index: auto;
    }
}