nav {
    width: 100%;
    box-shadow: var(--lg-shadow);
    display: flex;
    color: var(--ui-color);
    background-color: white;
    align-items: center;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

nav li a:hover {
    background-color: #2222225e;
}

nav #discord_login {
    background-color: #7289da;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    margin: 10px;
    white-space: nowrap;
}

nav #logo {
    position:absolute;
    top: 0;
    left: 0;
    width: 90px;
}