el-many-worlds #tabs-container {
    display: flex;
    width: 100%;
    margin-left: -1px;
    align-items: end;
}

el-many-worlds #tabs-container .tab {
    text-align: center;
    padding: 8px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    border: 1px solid rgba(0, 0, 0, 0.279);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    box-shadow: var(--lg-shadow);
    background-color: rgb(212, 212, 212);
}

el-many-worlds #tabs-container .tab.active {
    background-color: white;
    font-weight: bold;
    z-index: 1;
    position: relative;
    pointer-events: none;
    font-size: 1rem;
    padding: 10px;
}

el-many-worlds #tabs-container .tab.active::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 19px;
    background-color: white;
}

el-many-worlds #world-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.279);
    box-shadow: var(--lg-shadow);
    border-radius: 0 10px 10px 10px;
    padding: 20px 0;
    background-color: white;
}

el-many-worlds #world-categories {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

el-many-worlds .category-container {
    border-radius: 10px;
    box-shadow: var(--md-shadow);
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.279);
    overflow: hidden;
}

el-many-worlds .category-container h2 {
    text-align: center;
    color: var(--ui-color);
    background-color: rgb(193, 193, 193);
    margin: 0;
    padding: 10px;
    box-shadow: var(--lg-shadow);
    background: linear-gradient(135deg, rgb(220, 220, 220), rgb(180, 180, 180));
    border-bottom: 1px solid rgba(0, 0, 0, 0.279);
}

el-many-worlds .category-container p {
    text-align: center;
    font-style: italic;
    color: gray;
    padding: 10px;
}

el-many-worlds .category-container .entity-list {
    padding: 0 20px 0 40px;
}

el-many-worlds #world-description {
    width: 100%;
    display: flex;
}

el-many-worlds #world-description p {
    flex-grow: 1;
    margin: 0;
    padding: 0 20px;
}

el-many-worlds #world-description .edit-world-description {
    cursor: pointer;
    color: var(--ui-color);
    margin-right: 20px;
    align-self: center;
}

el-many-worlds #no-categories {
    text-align: center;
    font-style: italic;
    color: gray;
    width: 100%;
}

el-many-worlds #add-category-btn {
    flex-grow: 1;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: var(--md-shadow);
    background-color: rgb(200, 200, 200);
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    el-many-worlds .category-container {
        width: calc(50% - 22px);
    }
}