@import url('./cookieBanner/cookieBanner.css');
@import url('./loader.css');
@import url('./home/home.css');
@import url('./nav/nav.css');
@import url('./about/about.css');
@import url('./profile/profile.css');
@import url('./currentGames/currentGames.css');
@import url('./lightbox/lightbox.css');
@import url('./manyWorlds/manyWorlds.css');
@import url('./textEditor/textEditor.css');
@import url('./commentSection/commentSection.css');