el-survivors .player-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
el-survivors .player-card.steeb {
    background: url('/storage/images/Steeb.png') no-repeat right bottom/contain;
}
el-survivors .player-card.sante {
    background: url('/storage/images/San_Te.png') no-repeat left bottom/contain;
}
el-survivors .player-card.grim {
    background: url('/storage/images/Grim.png') no-repeat right bottom/contain;
}
el-survivors .player-card.sera {
    background: url('/storage/images/Sera.png') no-repeat left bottom/contain;
}
el-survivors .player-card.moxxie {
    background: url('/storage/images/Moxxie.png') no-repeat right bottom/contain;
}
el-survivors .player-card.zeebo {
    background: url('/storage/images/ZeeBo.png') no-repeat left bottom/contain;
}
el-survivors .player-card div {
    background-color: rgba(255, 255, 255, 0.6);
}
el-survivors .player-img {
    width: 250px;
    height: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: var(--lg-shadow);
    margin: 1rem 0;
    cursor: pointer;
}
el-survivors .survivor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
el-survivors .survivor-list iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
    border-radius: 5px;
    box-shadow: var(--lg-shadow);
}
el-survivors .content-slate section {
    max-width: 1000px;
}
el-survivors .video-item {
    width: 30%;
    min-width: 250px;
    position: relative;
}
el-survivors .video-controls {
    position: absolute;
    top: 25px;
    right: 10px;
    display: flex;
    gap: 10px;
}
el-survivors button.remove-video, el-survivors button.full-screen-button {
    color: white;
    padding: 7px;
}
el-survivors .video-title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width: 768px) {
    el-survivors .player-card {
        align-items: stretch;
        background-position: center;
    }
    el-survivors .player-card:nth-child(odd) {
        flex-direction: row;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    el-survivors .player-card:nth-child(even) {
        flex-direction: row-reverse;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    el-survivors .player-card:nth-child(odd) .player-img {
        margin: 1rem 1rem 1rem 0;
    }
    el-survivors .player-card:nth-child(even) .player-img {
        margin: 1rem 0 1rem 1rem;
    }
    el-survivors .player-card:nth-child(odd) div {
        padding-right: 1rem;
    }
    el-survivors .player-card:nth-child(even) div {
        padding-left: 1rem;
    }
}
