el-survivors .player-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
el-survivors .player-img {
    width: 250px;
    height: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: var(--lg-shadow);
    margin: 1rem 0;
}
el-survivors .survivor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
el-survivors .survivor-list iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
    border-radius: 5px;
    box-shadow: var(--lg-shadow);
}
el-survivors .content-slate section {
    max-width: 1000px;
}
el-survivors .video-item {
    width: 30%;
    min-width: 250px;
    position: relative;
}
el-survivors button.remove-video {
    padding: 7px;
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    el-survivors .player-card {
        align-items: start;
    }
    el-survivors .player-card:nth-child(odd) {
        flex-direction: row;
    }
    el-survivors .player-card:nth-child(even) {
        flex-direction: row-reverse;
    }
    el-survivors .player-card:nth-child(odd) .player-img {
        margin: 1rem 1rem 1rem 0;
    }
    el-survivors .player-card:nth-child(even) .player-img {
        margin: 1rem 0 1rem 1rem;
    }
}