el-home {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}

el-home .hero-slate {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

el-home .hero-slate h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

el-home .hero-slate i {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin: 0 1rem;
}

el-home iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
    border-radius: 5px;
}